#sidebar {
  padding: 10px;
  width: 30%;
  float: right;
  background-color: yellow;
  margin: 12px;
  border: 3px solid red;
  }
  #sidebar li {
    margin-bottom: 10px;
  }
  .band-bio {
    float:left;
  }
img {
  padding: 15px;
  margin: 10px;
}
